# 模型
!pretrained_models/PLACEHOLDER
pretrained_models/chinese-hubert-base
pretrained_models/chinese-roberta-wwm-ext-large/pytorch_model.bin
pretrained_models/*.ckpt
pretrained_models/*.pth

# 中间文件
*.pyc
__pycache__

# 测试资源
refer.wav